/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --main-paragraph-text-color: #f1b2ce;
  --text-accent-interaction-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-decor: #ff0070;
  --section-title: #ff0070;
  --title-text-color: #db00ff;
}
