/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.font-bold {
  font-family: "IBM Plex mono";
  font-weight: bold;
}
.font-medium {
  font-family: "IBM Plex mono";
  font-weight: normal;
}

.section__title {
  color: var(--title-decor);
  font-size: 18px;
}

.article {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 18px;
}

.article__title {
  background-color: var(--title-decor);
  color: #000028;
  width: 100%;
  font-size: 18px;
  line-height: 23.4px;
}

.article__info {
  font-size: 18px;
  color: var(--main-paragraph-text-color);
  line-height: 23.4px;
}
