:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --main-paragraph-text-color: #353430;
  --text-accent-interaction-color: #353430;
  --accent-color: #ff8dcb;
  --title-decor: #ff8dcb;
  --section-title: #353430;
  --title-text-color: #ffc2e6;
  --decorated-zone-pseudo-color: #353430;
}
:root.theme-light .header__dark-theme-accent,
:root.theme-light .header__dark-theme-accent::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --main-paragraph-text-color: #353430;
    --text-accent-interaction-color: #353430;
    --accent-color: #ff8dcb;
    --title-decor: #ff8dcb;
    --section-title: #353430;
    --title-text-color: #ffc2e6;
    --decorated-zone-pseudo-color: #353430;
  }
}
