.page {
  background-image: url("../images/cover-image-dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(0, 5, 50);
  padding: var(--header-offset);
}
.header {
  height: 100svh;
  max-height: 768px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 20px;
}

.header__dark-theme-accent {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #ff0070;
  font-size: 18px;
  line-height: 25px;
  font-family: "IBM Plex mono";
  font-weight: normal;
  width: 52px;
  height: 26px;
}

.header__dark-theme-accent::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  filter: blur(4px);
  position: absolute;
  top: 7px;
  right: 0px;
}

.header::before,
.header::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header::before {
  background-image: url("../images/corner-left-bottom.svg");
  bottom: var(--header-offset);
  left: var(--header-offset);
}

.header::after {
  background-image: url("../images/corner-right-top.svg");
  top: var(--header-offset);
  right: var(--header-offset);
}

.header__title {
  font-size: var(--header-font-size-medium-large);
  color: #db00ff;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.header__info {
  font-size: 18px;
  background-color: var(--title-decor);
  color: #000028;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: 3;
}

.reasons {
  min-height: 508px;
  display: grid;
  grid-template-columns: 315px 1fr;
  grid-template-rows: min-content min-content;
  gap: 20px;
  margin-block-end: 80px;
}

.reasons__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.factors {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
  margin-block-end: 80px;
}

.factors__info {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 20px;
}

.tips {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
}

.tips__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pics__info {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: repeat(4, 1fr);
  min-height: 1048px;
  gap: 20px;
  grid-template-areas:
    "sunset sunset cats" "tape books cats" "tape street street"
    "tape street street";
}

img[alt="Закат"] {
  grid-area: sunset;
  object-fit: cover;
}
img[alt="Котики в мороженном"] {
  grid-area: cats;
  object-fit: cover;
}
img[alt="Видеокассета"] {
  grid-area: tape;
  object-fit: cover;
}
img[alt="Стопка книг"] {
  grid-area: books;
  object-fit: cover;
}
img[alt="Улица"] {
  grid-area: street;
  object-fit: cover;
}
