.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(0, 5, 50);
  padding-block: var(--header-offset);
  padding-inline: var(--header-offset);
  width: 1024px;
}
.header {
  width: 100%;
  height: 100svh;
  min-height: 768px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 40px;
  row-gap: 20px;
}

.header__title::before {
  bottom: var(--header-pseudo-vertical-offset);
  left: 0;
}

.header__title::after {
  top: 0;
  right: 0;
}

.header__dark-theme-accent {
  position: absolute;
  top: 0;
  right: 10px;
  color: #ff0070;
  font-size: 18px;
  line-height: 25px;
  font-family: "IBM Plex mono";
  font-weight: normal;
  width: 52px;
  height: 26px;
}

.header__dark-theme-accent::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  filter: blur(4px);
  position: absolute;
  top: 7px;
  right: 0px;
}

.header__title {
  grid-column: 1 / span 3;
  grid-row: 2;
  margin-block-end: 40px;
  margin-inline-start: calc(var(--header-offset) * -1);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__info {
  font-size: 18px;
  background-color: var(--title-decor);
  color: #000028;
  grid-column: 2/3;
  grid-row: 3;
  align-self: self-start;
  justify-items: center;
  margin-block-start: 55px;
}

.reasons {
  min-height: 508px;
  display: grid;
  grid-template-columns: 315px 1fr;
  grid-template-rows: min-content min-content;
  gap: 20px;
  margin-block-end: var(--margin-block-end-mid);
}

.reasons__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.factors {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
  margin-block-end: var(--margin-block-end-large);
}

.factors__info {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 20px;
}

.tips {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  margin-block-end: var(--margin-block-end-large);
}

.tips__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-block-end: var(--margin-block-end-mid);
}

.pics__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: repeat(4, auto);
  min-height: 1048px;
  gap: 20px;
}

.pics__grid-element:nth-child(1) {
  grid-row: 1;
  grid-column: 1 /3;
}

.pics__grid-element:nth-child(2) {
  grid-column: 3;
  grid-row: span 2;
}

.pics__grid-element:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / 5;
}

.pics__grid-element:nth-child(4) {
  grid-row: 2;
  grid-column: 2;
}

.pics__grid-element:nth-child(5) {
  grid-row: span 2;
  grid-column: span 2;
}

.footer {
  width: 100%;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer__title::before {
  bottom: 20px;
  left: 0;
}

.footer__title::after {
  top: 20px;
  right: 0;
}

@media (max-width: 768px) {
  .page {
    width: 768px;
  }

  .header {
    min-height: 1024px;
    grid-template-columns: 1fr 1fr;
  }
  .header__info {
    justify-self: center;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 75px;
  }
  .reasons {
    grid-template-columns: 235px 1fr;
  }
  .factors,
  .factors__info {
    display: flex;
    flex-direction: column;
  }
  .factors .section__title {
    width: 235px;
  }
  .tips {
    grid-template-columns: 235px 1fr;
  }
  .pics__info {
    grid-template-columns: repeat(3, 230px);
    min-height: 780px;
  }
  .pics__grid-element:nth-child(3) {
    grid-row: 2/4;
  }
  .pics__grid-element:nth-child(5) {
    grid-row: 3;
  }
  .footer {
    min-height: 984px;
  }
  .footer__title::before {
    bottom: 0;
  }

  .footer__title::after {
    top: 0;
  }
}
