:root {
  --padding-offset: 20px;
  --padding-offset-mobile: 10px;
  --header-pseudo-vertical-offset: 40px;

  --header-font-size-medium-large: clamp(
    7.5rem,
    0.5625rem + 14.4531vw,
    9.8125rem
  );
  --header-font-size-small-medium: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --margin-block-end-large: 80px;
  --margin-block-end-mid: 60px;
  --margin-block-end-small: 40px;

  --title-pseudo-size: 25px;

  --font-family: "IBM Plex mono", "Courier New", Courier, monospace;

  --shadow: 4px 4px 0 var(--accent-color);

  /* Переменные темной темы */
  --background-image: url("../images/cover-image-dark.png");
  --decorated-zone-pseudo-color: #ff0070;

  --change-theme-color: #ff0070;
  --change-theme-selected-border: 1px solid #ff0070;
  --change-theme-hover-border: 1px solid rgba(255, 0, 112, 0.4);
  --change-theme-focus-border: 1px solid #ff0070;

  --header-dark-theme-accent-color: #ff0070;
  --header-dark-theme-accent-pseudo-color: #ff0070;
  --header-title-color: #db00ff;
  --header-title-shadow: 4px 4px 0 #ff0070;
  --header-info-color: #000028;
  --header-info-background-color: #ff0070;

  --section-title-color: #ff0070;
  --article-title-color: #000028;
  --article-title-background-color: #ff0070;
  --article-text-color: #f1b2ce;

  --link-shadow: 1px 1px 0 #ff0070;
  --link-hover-border: 1px solid #f1b2ce;
  --link-focus-border: 1px solid #f1b2ce;

  --footer-title-color: #db00ff;
  --footer-title-shadow: 2px 2px 0 #ff0070;
}
